backtrader
matplotlib
numpy
pandas
keras
tensorflow
sklearn
statsmodels
h5py
evostra
gym[all]
git+https://github.com/s4w3d0ff/python-poloniex.git
pyalgotrade
git+https://github.com/ematvey/pybacktest.git
pandas_datareader
plotly
stockstats
keras-rl
git+https://github.com/alifanov/mikasa.git
git+https://github.com/alifanov/mikasa_gym.git
seaborn